h1 { 
  width: 2084px;
    height: 267px;
    flex-shrink: 0;
    color: #000;
  
  text-align: center;
  font-family: Inter;
  font-size: 234px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
    margin-top: 20px;
  }
  .dev-menu {
      display: inline-block;
      padding: 10px 50px;
      border: 2px solid #EFD1C3;
      border-radius: 50px;
      background-color: var(--primary-color);
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 0 30px;
      position: relative;
      display: flex;
      justify-content: center;
      transform-origin: 50% 0;
      height: auto;
      transform: translateY(0);
      transition: 0.4s ease transform;
      list-style-type: none;
  }

  
    .smallbold {
      color: #000;
  
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    }
  h2 {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  }
  h3 {
    width: 224px;
  height: 31px;
  flex-shrink: 0;
    color: #000;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  
  }
  h4 { 
  color: #000;
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;}
  
 

/* 
Css can't live on its own. It needs an html title. 
Works as declarations

Writing CSS
  h1 is "selector" So all h1 tags will be edited.
  : is used instead to assign values
  ; statement end. ends the style line.
  is held within {}

Attributes
  class= is a naming convention 
  you can call the convetion using .class-name
  class="headline" call it using .headling {}
  Call id using the #

Font-families
Provide fall back fonts by applying multiple properties
font-family: helvetica, arial, sans-serif;
font-style: italic;
font-size: pixel amount; Could change the padding and bounding box. Use margins to fix it.
font-weight: bold, or 100-900

outline: solid; useful for looking at sizing.

The box model
    layered inside to out Content, padding, borer, margin
    content: incldues text and images
    padding: space around content, define its properties by setting its spacing attributes
    border: a border encloses the padding and content
    margin: the empty space around the border it is transparent.
*/
